* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main {
  min-height: 100vh;
  background-image: url("assests//images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
}
header {
  /* border: 1px solid white; */
  width: 100%;
  padding: 20px;
}
header nav {
  max-width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid #c11119; */
}
header nav .logo img {
  width: 148px;
}
.rightNav {
  display: flex;
}
.lang {
  background: rgba(23, 23, 23, 0.4);
  color: white;
  opacity: 0.4;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  padding: 0 16px;
}
.lang:focus {
  border: 1px solid white;
}
.signBtn {
  background-color: #e50914;
  border: none;
  color: white;
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}
.heroContent {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  font-family: "Martel Sans", sans-serif;
  width: 100%;
}
.heroContent > h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
}
.heroContent .subscription {
  font-size: 26px;
  font-weight: 600;
}
.heroContent .membershipt {
  margin-top: 20px;
  margin-bottom: 12px;
}
.subscribe {
  display: flex;
  place-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
.emailInput {
  flex-basis: 350px;
  border: 2px solid transparent;
  padding: 3px;
  border-radius: 4px;
  transition: 0.5s ease;
  position: relative;
}
.emailInputNew {
  border: 2px solid white;
}
label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: 0.5 ease;
}
.labelNew {
  top: 30%;
  font-size: 12px;
}
.emailInput > input {
  background: transparent;
  border: 1px solid gray;
  text-indent: 10px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  padding-top: 35px;
  padding-bottom: 16px;
  width: 100%;
  outline: none;
  height: 20px;
  cursor: pointer;
  font-size: 16px;
}
.emailInput > input::placeholder {
  font-size: 16px;
  color: white;
}
.subscribe button {
  font-size: 22px;
  font-weight: 500;
  background: #e50914;
  color: white;
  border: none;
  border-radius: 4px;
  flex-basis: 200px;
  cursor: pointer;
}
@media(max-width: 768px){
  
}